In [10]:
import pickle
import numpy as np

import pyodbc 
import pandas as pd

In [11]:
loaded_model = pickle.load(open('streamlit_insurance_predictcharges.pkl', 'rb'))

In [12]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=RM;'
                      'Database=INSURANCECOMPANY;'
                      'Trusted_Connection=yes;')

# cursor = conn.cursor()
# cursor.execute('SELECT gender,smoking,custaddress,age,bmi,no_of_children FROM Customer')

# list1 = []

# for row in cursor:
#     dummy =[]
#     dummy = row
#     list1.append([dummy])
# print(list1)

# df = pd.DataFrame (list1).transpose()
# df.columns =['Gender','smoking','region','age','bmi','children']
# df.head()


dataframe = pd.read_sql("""
            SELECT gender,smoking,custaddress,age,bmi,no_of_children FROM Customer
            """, conn)
# return your first five rows
dataframe.head()

  gender smoking custaddress  age  bmi  no_of_children
0      M     Yes   Southeast   40   24               2
1      M      No   Southwest   34   27               3
2      F      No   Northwest   22   18               0
3      M     Yes   Northeast   50   35               2

In [13]:
#dataframe['gender'] = dataframe['gender'].apply(lambda x : 1 if i[0]=='M' else 0 for i in x )
dataframe['gender'] = dataframe['gender'].map({'M': 1 , 'F': 0 })
dataframe['smoking'] = dataframe['smoking'].map({'Yes': 1 , 'No': 0 })
dataframe['custaddress'] = dataframe['custaddress'].map({'Southeast': 2 , 'Northwest': 3 , 'Southwest' :1 , 'Northeast' : 0 })
dataframe.head()
#print(dataframe.dtypes)

   gender  smoking  custaddress  age  bmi  no_of_children
0       1        1            2   40   24               2
1       1        0            1   34   27               3
2       0        0            3   22   18               0
3       1        1            0   50   35               2

In [14]:
listOfDFRows = dataframe.to_numpy().tolist()
print(listOfDFRows)


def cast_matrix(test_matrix, data_type):
    return list(map(lambda sub: list(map(data_type, sub)), test_matrix))

listOfDFRows = cast_matrix(listOfDFRows, int)

[[1, 1, 2, 40, 24, 2], [1, 0, 1, 34, 27, 3], [0, 0, 3, 22, 18, 0], [1, 1, 0, 50, 35, 2]]

In [15]:

for x in listOfDFRows:
    new_list = x
    final_features1 = [np.array(new_list)]
    #print(final_features1)
    prediction =  loaded_model.predict(final_features1)
    print('Your insurance charges would be: $',round(prediction[0],2))

Your insurance charges would be: $ 46897.23
Your insurance charges would be: $ 45550.69
Your insurance charges would be: $ 44615.59
Your insurance charges would be: $ 43116.62